.todo{
    background-color: pink;
    width: 80%; 
     height: 80vh;
    display: flex;
    /* justify-content: center; */
    margin-left: 10%;
    margin-top: 1%;
    flex-direction: column;
    align-items: center;
}
.add input{
    height: 20px;
    margin-top: 20px;
    
}
.add button{
    background-color: green;
    color: white;
    border: 2px solid black;
    margin-left: 20px;
}